/* Full screen center */
.player-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at top, #0f2027, #0f172ad9, #000);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* Logo + Game Name container */
.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

/* Game Logo */
.logo {
  width: 160px;
  height: auto;
  margin-bottom: 10px;

  filter: drop-shadow(0 0 15px rgba(0, 255, 213, 0.8));
  animation: logoGlow 2.5s infinite alternate;
}

/* Game Name */
.game-title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 3px;
 margin: 0px;
  color: #ffffff;
  text-shadow:
  0 0 8px #38bdf8,
  0 0 22px rgba(56, 189, 248, 0.9);

}

/* Player card container */
.player-card {
  width: 340px;
  padding: 28px 26px;
  margin-top: 10px;

  background: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 18px;
  border: 1px solid rgba(0, 255, 213, 0.25);

  box-shadow:
    0 0 25px rgba(0, 255, 213, 0.15),
    inset 0 0 15px rgba(0, 255, 213, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Enter Player Names */
.player-screen h2 {
  font-size: 22px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  color: #00ffd5;
  text-shadow: 0 0 10px #00ffd5;
}

/* Input box */
.player-screen input {
  width: 260px;
  padding: 12px;
  margin: 8px 0;

  background: #111;
  border: 2px solid #333;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;

  outline: none;
  transition: 0.3s ease;
}

/* Input focus glow */
.player-screen input:focus {
  border-color: #00ffd5;
  box-shadow: 0 0 10px #00ffd5;
}

/* Start Game button */
.player-screen button {
  margin-top: 20px;
  padding: 12px 40px;

  background: linear-gradient(135deg, #00ffd5, #00bfa6);
  border: none;
  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: #000;

  cursor: pointer;
  transition: all 0.3s ease;
}

/* Button hover animation */
.player-screen button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ffd5;
}

/* Button click effect */
.player-screen button:active {
  transform: scale(0.95);
}


/* Subtle logo glow animation */
@keyframes logoGlow {
  from {
    filter: drop-shadow(0 0 8px rgba(0, 255, 213, 0.4));
  }
  to {
    filter: drop-shadow(0 0 18px rgba(0, 255, 213, 1));
  }
}



/* Responsive */
@media (max-width: 480px) {

  .logo {
    width: 120px;
  }

  .game-title {
    font-size: 32px;
  }

  .player-card {
    width: 90%;
    max-width: 285px;
  }

  .player-screen input {
    width: 220px;
  }

  .player-screen h2 {
    font-size: 20px;
  }
}



